html,body{
    height: 100%;
}
body {
    padding-top: 50px;
    position: relative;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#editor{
    border: 1px solid #ccc;
}

.share-btn-con{
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

footer{
    margin-top: 100px;
}

.footer-con{
    text-align: center;
    padding-top:50px;
    padding-bottom: 10px;
}

.share-url{
    width:1040px;
}

