html,body{
    height: 100%;
}
body {
    padding-top: 50px;
    position: relative;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.share-text{
    min-height: 330px;
    max-height: 480px;
    width: 1100px;
    background-color: #EAEAEA;
    border:none;
    padding: 5px;
    line-height: 23px;
    overflow: auto;
    color: #666;
    font-size: 16px;
    font-family: "微软雅黑"
}
textarea:focus {
    box-shadow: 0 0 1px 1px #3e4ef9;
}

.bold-text{
    font-weight:bold !important;
}

.share-btn-con{
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

footer{
    position: absolute;
    bottom: 0px;
    left:45%;
}

.footer-con{
    padding-left: 10px;
}

.share-url{
    width:1040px;
}

