<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share Text</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Share Text</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            <h1>Share Text Template</h1>
            <p class="lead">Use this website as a way to quickly share your text.<br></p>
            <textarea class="form-control share-text" rows="3" spellcheck="false" >print('hello share text')</textarea>
            <div class='share-btn-con'>
                <button type="button" class="btn btn-default share-btn">获取分享链接</button>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-con">
            <p>©2019 Share Text.
        All Rights Reserved </p>
        </div>
    </footer>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/auto_line_numbers.js"></script>

    <script>
        $(".share-text").setTextareaCount({
            width: "50px",
            bgColor: "#EAEAEA",
            color: "black",
            display: "inline-block"
        });
    </script>

</body>
</html>