<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share Text</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/share/">Share Text</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/share/">Home</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            <h1>Share Text Template</h1>
            <p class="lead">Use this website as a way to quickly share your text.<br></p>
            <div id="editor">{{ text }}</div>
    
            <div class="share-url-con" style="margin-top:10px;">
                <input id="share-url" class="form-control share-url" name='share-url' type="text" value="{{ share_url }}" readonly>
                
                <button type="button" id="share-copy-btn" class="btn btn-default share-copy-btn" aria-label="Left Align" data-clipboard-target='#share-url'>
                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        </div>
    </div>

    <footer>
        <div class="footer-con">
            <p>©2019 Share Text.
        All Rights Reserved </p>
        </div>
    </footer>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="/static/index.js" type="text/javascript" charset="utf-8"></script> -->
    <script>
        var editor = ace.edit("editor", {
            maxLines: 40,minLines: 40
        });
        editor.setTheme("ace/theme/tomorrow");
        editor.session.setMode("ace/mode/python");
        editor.setAutoScrollEditorIntoView(true);
        editor.setReadOnly(true);

        var clipboard = new ClipboardJS('.share-copy-btn');
    </script>
</body>
</html>